<html>
<head>
	{% ifequal MEDIA_URL "localhost" %}
	<script type="text/javascript" src="jquery.js"></script>
	<link rel="stylesheet" type="text/css" href="extra_styles.css">
	{% endifequal %}
	{% ifnotequal MEDIA_URL "localhost" %}
	<script type="text/javascript" src="{{ MEDIA_URL }}/jquery.js"></script>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/extra_styles.css">
	{% endifnotequal %}

	<script type="text/javascript">

	$(document).ready(function(){
		$('#num_people').blur(function(){
			$(this).attr('disabled', 'true');
			for (var i = 0; i < $(this).val(); i++){
			$(this).after('<div class="name_input"><input type="text" id="' + i + 'name" class="name_input"></div>');
			}
			$(this).after('<div class="name_input">enter their names here</div>');
		});

		$("#submit").click(function(){
			var d = {};
			d.house_name = $("#house_name").val();
			d.users = [];
			$('.name_input:input').each(function(){
				d.users.push($(this).val());
			})
			d.password = $("#password").val();
			
			$.ajax({
				url: '/signup',
				type: 'POST',
				data: {'d': JSON.stringify(d)},
				success: function(data){
					$("#error").html(data);
					if (data == 'success'){
						$("#error").html('success. redirecting you to login');
						setTimeout("document.location='login';",2000);
					}
						
				},
				error: function(data){
					console.log('writing error');
				}
			});

		});
		$("#reset").click(function(){
				$(".name_input").remove();
				$("#num_people").val("").removeAttr("disabled");
		});
	});
	</script>

</head>
<body>
    <div id="container">dtms - create a house <br><br>
		<div id="error" style="color: red;"></div>
		<div style="text-align: center">
			<p>choose a house name (case sensitive)</p>
			<input type="text" id="house_name"><br>
			
			<p>how many people live in your house?</p>
			<input name="num_people" type="text" id="num_people"><br>

			<p>choose a group password</p>
			<input type="password" id="password"><br>
			<input type="button" id="submit" value="submit">
			<input type="button" id="reset" value="reset form">
		</div>
	</div>
</body>
</html>
