<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<meta name="keywords" content="">
	<meta name="description" content="">
	{% ifequal MEDIA_URL "localhost" %}
	<script type="text/javascript" src="jquery.js"></script>
	<script type="text/javascript" src="jqModal.js"></script>
	<script type="text/javascript" src="javascript.js"></script>
	<script type="text/javascript" src="jquery.flot.js"></script>
	<script type="text/javascript" src="jquery.flot.pie.js"></script>
	<script type="text/javascript" src="jquery.autocomplete.js"></script>
	<link type="text/css" href="style.css" rel="Stylesheet" />
	<link type="text/css" href="jquery.autocomplete.css" rel="Stylesheet" />
	<link rel="stylesheet" type="text/css" href="reset-fonts-grids.css">
	<link rel="stylesheet" type="text/css" href="base.css">
	{% endifequal %}
	{% ifnotequal MEDIA_URL "localhost" %}
	<script type="text/javascript" src="../static/jquery.js"></script>
	<script type="text/javascript" src="../static/jqModal.js"></script>
	<script type="text/javascript" src="../static/javascript.js"></script>
	<script type="text/javascript" src="../static/jquery.flot.js"></script>
	<script type="text/javascript" src="../static/jquery.flot.pie.js"></script>
	<script type="text/javascript" src="../static/jquery.autocomplete.js"></script>
	<link type="text/css" href="../static/style.css" rel="Stylesheet" />
	<link type="text/css" href="../static/jquery.autocomplete.css" rel="Stylesheet" />
	<link rel="stylesheet" type="text/css" href="../reset-fonts-grids.css">
	<link rel="stylesheet" type="text/css" href="../base.css">
	{% endifnotequal %}
	

</head>
<body>
<div id="doc3" class="yui-t2">
	<div id="hd">
		PUT MASTHEAD CODE HERE
		PUT MASTHEAD CODE HERE
		PUT MASTHEAD CODE HERE
		PUT MASTHEAD CODE HERE
		PUT MASTHEAD CODE HERE
	</div>
	<div id="bd">
		<div id="yui-main">
			<div class="yui-b">
				<div id="content">
					<div id="list">
					</div>
					<div id="graph">
					</div>
					<div id="archive">
						{% for x in archive_list %}
						<span>aoeu {{ x.1 }} {{ x.2 }}</span>
						{% endfor %}
					</div>
					
				</div>
				<div id="dialog" class="jqmWindow">
					<h1>what was it?</h1>
					<input type="text" id="name">
					<br><br>
					<h1>how much was it?</h1>
					<h3><a id="advanced">advanced selection</a></h3>
					
					<span style="font-family:georgia; font-size:16pt;">$</span><input type="text" id="price">
					<input id="user_id" type="text" value="{{ user_id }}" style="display: none">
					
					<br><br>
					<div id="expanded_section">
						<div id="expanded_buyers">
							<h1>how much did the buyers spend?</h1>
							<table>
								{% for x in names%}
								<tr>
									<td>{{ x }}: </td><td><input type="text" value="0" id="{{x.id}}expanded_buyer"></td>
								</tr>
								{% endfor %}
							</table>
						</div>
			
						<div id="expanded_users">
							<h1>how much will each person pay?</h1>
							<table>
								{% for x in names%}
								<tr>
									<td>{{ x }}: </td><td><input type="text" value="0" id="{{x.id}}expanded_user"></td>
								</tr>
								{% endfor %}
							</table>
						</div>
					</div>
			
					<div id="basic_users">
						<h1>who's using it?</h1>
						<ul id="list_users">
							{% for x in names %}
							<li class="option_text" id="{{x.id}}option">{{ x }}</li>
							{% endfor %}
						</ul>
					</div>
					<br>
					<h3>purchase date</h3> <input type="text" id="purch_date" size="10">
					<h3>tags</h3> <input type="text" id="tags">
					<h3>sub tags</h3> <input type="text" id="sub_tag">
					<h1>any comments about it?</h1>
					<span style="color:#eee">a</span><textarea id="comments" rows="6" cols="40"></textarea><br><br>
					<a id="action">submit</a><a id="cancel" class="jqmClose">cancel</a>
				</div>
			
			</div>
		</div>
		<div id="yui-b">
			<input type="button" value="start new billing cycle" id="new_cycle">
			<input type="button" value="add item" class="openjqm" id="add_item">
		</div>
	</div>
	<div id="ft">
		<!-- PUT FOOTER CODE HERE -->
	</div>
</div>
</body>
</html>
