<html>
<head>
	<!-- TAKE THIS OUT LATER --!>
	<META HTTP-EQUIV="Pragma" CONTENT="no-cache"> 
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<script type="text/javascript" src="http://jqueryjs.googlecode.com/files/jquery-1.3.2.min.js"></script>
	<script type="text/javascript" src="http://dev.iceburg.net/jquery/jqModal/jqModal.js"></script>
	<script type="text/javascript" src="http://www.appelsiini.net/download/jquery.jeditable.mini.js"></script>
	{% ifequal MEDIA_URL "localhost" %}
	<script type="text/javascript" src="javascript.js"></script>
	<script type="text/javascript" src="highcharts.js"></script>
	<script type="text/javascript" src="excanvas.compiled.js"></script>
	<script type="text/javascript" src="jquery.autocomplete.js"></script>
	<script type="text/javascript" src="json2.js"></script>
	<script type="text/javascript" src="jquery-ui-1.7.2.custom.min.js"></script>
	<link rel="stylesheet" type="text/css" href="reset-fonts-grids.css">
	<link rel="stylesheet" type="text/css" href="css/ui-lightness/jquery-ui-1.7.2.custom.css">
	<link type="text/css" href="style.css" rel="Stylesheet" />
	<link type="text/css" href="jquery.autocomplete.css" rel="Stylesheet" />
	{% endifequal %}
	{% ifnotequal MEDIA_URL "localhost" %}
	<script type="text/javascript" src="/media/javascript.js?x=1"></script>
	<script type="text/javascript" src="/media/highcharts.js"></script>
	<script type="text/javascript" src="/media/excanvas.compiled.js"></script>
	<script type="text/javascript" src="/media/jquery.autocomplete.js"></script>
	<script type="text/javascript" src="/media/json2.js"></script>
	<script type="text/javascript" src="/media/jquery-ui-1.7.2.custom.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/media/reset-fonts-grids.css">
	<link type="text/css" href="/media/style.css" rel="Stylesheet" />
	<link type="text/css" href="/media/jquery.autocomplete.css" rel="Stylesheet" />
	<link rel="stylesheet" type="text/css" href="/media/css/ui-lightness/jquery-ui-1.7.2.custom.css">
	{% endifnotequal %}
	<title>dtms</title>
</head>
<body>
<div id="gradient-top"></div>
<div style="position: absolute;top:0" id="top_header">
	<span class="banner"><span style="color: #666">the</span><span style="color: #fff">bill</span><span style="color: #999">grinder</span></span>
</div>
<div id="doc">
	<div id="bd">
		<div  id="yui-main">
			<div class="yui-b">
				<div id="tabs">
					<ul>
						<li><a href="#mainContainer" title="mainContainer">items</a></li>
						<li><a href="/graphs" title="graphContainer">graphs</a></li>
						<li><a href="/shoppingList" title="shoppingList">shopping list</a></li>
					</ul>
					<div id="mainContainer"></div>
					<div id="graphContainer"></div>
					<div id="shoppingList"></div>
				</div>
			</div>
		</div>
	</div>
	<div id="ft">
		<br>
		Developed by Victor Hwang. Send all comments to victor [at] thebillgrinder [dot] com
		<br>
	</div>
</div>
<div id="gradient-bot"></div>
<script type="text/javascript" src="http://include.reinvigorate.net/re_.js"></script>
<script type="text/javascript">
	re_("j3997-fqo9r87a63");
</script>
</body>
</html>
