<html>
<head>
	<script type="text/javascript" src="jquery.js"></script>
	<script type="text/javascript" src="jqModal.js"></script>
	<script type="text/javascript" src="javascript.js"></script>
	<script type="text/javascript" src="jquery-ui.js"></script>
	<script type="text/javascript" src="jquery.flot.js"></script>
	<script type="text/javascript" src="jquery.flot.pie.js"></script>
	<link type="text/css" href="css/smoothness/jquery-ui-1.7.1.custom.css" rel="Stylesheet" />
	<link type="text/css" href="style.css" rel="Stylesheet" />
	

</head>
<body>
	<div id="content">
	<div id="tabs">
		<ul>
			<li><a href="/list">Nunc tincidunt</a></li>
		</ul>
	</div>
	
	</div>
	<div id="dialog" class="jqmWindow">
		<h1>what was it?</h1>
		<input type="text" id="name">
		<br><br>
		<h1>how much was it?</h1>
		<span style="font-family:georgia; font-size:16pt;">$</span><input type="text" id="price">
		<br><br>
		<h1>who's using it?</h1>
		<div id="list_users">
			<span id="all_name">All</span>
			{% for x in names %}
			<span class="option_text" id="{{x.id}}option">{{ x }}</span>
			{% endfor %}
		</div>
		<br>
		<span style="font-size:10pt">purchase date</span> <input type="text" id="purch_date" size="10">
		<span style="font-size:10pt">tags</span> <input type="text" id="tags">
		<span style="font-size:10pt">sub tags</span> <input type="text" id="sub_tag">
		<h1>any comments about it?</h1>
		<span style="color:#eee">a</span><textarea id="comments" rows="6" cols="40"></textarea><br><br>
		<span id="action">submit</span><span id="cancel" class="jqmClose">cancel</span>
	</div>
	<input type="button" value="aoeu" class="openjqm" id="add_item">
</body>
</html>
