<div class="yui-ge">
<div class="yui-u first">
	{% ifnotequal empty 0 %}
		<span class="date_range">{{ category.0 }} to {{ category.1 }}</span>
		<div class="houseMode"<a id="your" title="see items you bought">your items</a><a id="house" title="see items your house bought">{{ house_name}} items</a></div>
		<span id="archive_id" style="display:none">{{ archive_id }}</span>
			<br><br><br>
		
	{% endifnotequal %}

	{% ifequal empty 0 %}
		<h1>no items!</h1>
		<br><br>
		<button id="add_item">add an item</button>
	{% endifequal %}

	<br>
	<table id="list">
		{% ifnotequal empty 0 %}
		<tr class="gray">
			{% ifequal houseMode "1" %}
			<td>total cost</td><td>item name</td>
			{% endifequal %}

			{% ifequal houseMode "0" %}
			<td>you paid</td><td>your items</td>
			{% endifequal %}
		</tr>
		{% endifnotequal %}
		{% for x in list.ret_list %}
		<tr id="{{ x.id }}list" class="item">
			<td class="price">${{x.price|floatformat:2}}</td>
			<td style="width:200px;"> {{ x.name }}</td>
			<td class="tag" style="text-align: right; width:120px;">{{ x.tag }}</td>
			<td style="text-align: right">{{ x.buyerName}}</td>
			<td>{{ x.purch_date|date:"m/d" }}</td>
			{% ifequal archive_id "0" %}

				<td class="edit"><img src="../static/images/edit_15px.png" /></td>
				<td class="delete"><img src="../static/images/delete_15px.png"</td>
			{% endifequal %}
		</tr>
		<tr class="item_description">
			<td></td><td>
				<br>
					buyers:
					<table>
						{% for key, value in x.buyers_o.items %}
						<tr><td>{{ value.1 }}</td><td>${{ value.0|floatformat:2 }}</td></tr>
						{% endfor %}
					</table>
					<br>
					{{ x.comments }} 
			</td><td style="float:right;">
					users:
					<table>
						{% for key, value in x.users_o.items %}
						<tr><td>{{ value.1 }}</td><td>${{ value.0|floatformat:2 }}</td></tr>
						{% endfor %}
					</table>
				</td><td></td><td></td><td></td>
		</tr>
		{% endfor %}
	</table>
</div>

<div id="sidepanel" class="yui-u">
		{% ifnotequal empty 0%}	
		<button type="button" id="add_item">add item</button>
		{% endifnotequal %}
		<br>


		<button type="button" id="clearCyclePopupButton">clear bills</button>
		<br>
		<br>

		<div id="taglist">
			<span class="gray">tags: &nbsp</span>
			{% for t in tags %}
				<a class="tagNames" title="filter list by this tag">{{ t.name }}</a>
			{% endfor %}
			<a class="tagNames">all</a>
		</div>
		<br><br>
		{% ifequal houseMode "0" %}
			<div class="ind_balance">
				<span class="gray">your balance</span><br>
				{% ifequal list.ind_sign 'p' %}
					<span class="pos">+{{ list.ind_balance|floatformat:2 }}</span>
				{% endifequal %}
				{% ifnotequal list.ind_sign 'p' %}
					<span class="neg">{{ list.ind_balance|floatformat:2 }}</span>
				{% endifnotequal %}
			</div>
			<span class="gray">transactions</span><br>
			<table class="side_table">
				{% for x in list.ind_will_pay %}
				<tr><td>you owe {{ x.4 }}</td><td> {{ x.2|floatformat:2 }}</td></tr>
				{% endfor %}
			
				{% for x in list.ind_expects %}
				<tr><td>{{x.3}} pays </td><td>{{ x.2|floatformat:2 }}</td></tr>
				{% endfor %}
			</table>
		{% endifequal %}
		
		{% ifequal houseMode "1" %}
			<span class="gray">everyone's balances</span>
			<table class="side_table">
				{% for x in list.names_and_balances %}
				<tr><td class="hoverable">{{ x.0 }}</td><td> {{ x.1|floatformat:2 }}</td></tr>
				{% endfor %}
			</table>
			<span class="gray">transactions</span>
			<table class="side_table">
				{% for x in list.transactions %}
				<tr><td>{{ x.3 }} owes {{ x.4 }}</td><td> {{ x.2|floatformat:2 }}</td></tr>
				{% endfor %}
			</table>
		{% endifequal %}
		<select id="archive_dropdown">
			<option value="0"> -- view archives --</option>
			{% for x in archive_list %}
			<option value="{{x.0}}">{{x.1}} - {{x.2}}</option>
			{% endfor %}
		</select>

		<br>
		<br>
		<a href="/login">logout</a>
	</div>
</div>
<div class="jqmWindow" id="clearCyclePopup">
	are you sure you want to clear this cycle?<br><br>
	<a id="confirmClearCycle" class="jqmClose">yes</a>
	<a class="jqmClose">no</a>
</div>
<div class="jqmWindow" id="deleteItemPopup">
	are you sure you want to delete this item?<br><br>
	<a id="confirmDeleteItem" class="jqmClose">yes</a>
	<a class="jqmClose">no</a>
</div>
