body {
	font-family: Georgia;
	background-color: #181818;
}

h1, .mega {
	font-weight: bold;
	font-size:12pt;
}

.banner {
	font-family: georgia;
	font-size: 36pt;
	color: #ccc;
}

h2 { 
	font-size: 16pt;
}

h3 {
	font-size: 10pt;
}


/* layout business */

.jqmWindow {
    display: none;
    position: absolute;

    top: 17%;
	margin-left: 33%;
    width: 170px;
    
    background-color: #fff;
    color: #000;
    border: 1px solid black;
    padding: 12px;
}

.jqmOverlay { background-color: #000; }

#rightPanel {
	display: none;
}

#topblock, #bottomblock, #addItemContainer{
	border: 1px solid #999;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	width: 600px;
	padding:10px;
	background-color: #fff;
}

#bottomblock {
	margin-top: 20px;
}

#titlebar {
	width:400px;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 1px #ccc solid;
	padding-left: 40px;
	padding-right: 40px;
	text-align: center;
}

#leftMenu {
	width:160px;
	top: 100px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #999;
	background-color: #fff;
}

/* left side menu styles */

#leftMenu li {
	list-style-type: none;
	padding: 3px 5px;
	border: 1px #fff solid;
	display: block;
}

#leftMenu li:hover {
	border:1px #000 solid;
	color: #fff;
	background-color: #181818;
	cursor: pointer;
}

/* to do: make nohighlight for safari */




/* Styles for the toggle_selected plugin used in the addItemBox window*/

#addItemContainer li {
	cursor: pointer;
	padding: 3px 5px;
	list-style-type: none;
	display: inline;
}
#addItemContainer li::selection {
	background: transparent;
}

.unselected {
	background-color: #fff; 
	color: #000; 
}

.selected_yes, .hover {
	background-color: #181818; 
	color: #fff;
}

#addItemContainer li::selection, #list_buyers::selection, #list_user::selection, #list_buyers::-moz-selection, #list_users::-moz-selection {
	background:transparent;
}

#action, #cancel {
	font-family:georgia;
	font-size:30pt;
	color:#333;
	margin:0 15px;
	cursor: pointer;
}

#action:hover, #cancel:hover {
	color: #40ad34;
}

/* styles for the list of items that comes from /list */

.tagNames {
	cursor: pointer;
	padding:0px 5px;
	font-size: 8pt;
}
a.tagNames:hover {
	background-color: #ffc97c;
}
#showAnalysis, #houseMode {
	float:right;
	cursor: pointer;
}

#moneyStatus {
	width: 500px;
	margin: auto;
	clear: both;
}

#toggleTagList {
	cursor: pointer;
}

#tagList {
	width: 400px;
	clear: both;
}

.ind_balance {
	font-size: 35pt;
	float:left;
	clear:both;
}

.pos {
	color: green;
}

.neg {
	color: red;
}

.bar {
	font-size: 15pt;
}

.header {
	color: #999;
	font-size: 15pt;
}
.gray {
	color: #666;
	font-size:10pt;
}

.item { 
	padding: 3px;
	margin: 7px 0px;
/*	width: 400px; */
	cursor: pointer;
}

tr.item:hover {
	background-color:#ffc97c;
}

.item_description {
	margin: auto;
	/*width: 400px;*/
	border-bottom: 1px #ccc solid;
	padding: 5px 10px;
}

.item_name {
	margin-left:5px;
}

.purch_date, .buyers, .edit, .delete {
	color: #999;
}

#graph {
	width: 400px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

td {
	padding: 5px 5px;
}
.item {
	border-bottom: 1px #ccc solid;
}
#moneyStatus table, #tableTransactions, tr table {
	border: 1px #000 solid;
}


#moneyStatus table {
	float: right;
}
td.hoverable {
	cursor: pointer;
}
td.hoverable:hover {
	background-color: #ffc97c;
}

