body {
	font-family: georgia;
	font-weight: normal;
	font-size: 12pt;
	color: #333;
	background-color: #181818;
}

h1, .mega {
	font-weight: bold;
	font-size:12pt;
}

.banner {
	font-size: 36pt;
	color: #ccc;
}

h2 { 
	font-size: 16pt;
}

h3 {
	font-size: 10pt;
}

#ft {
	background-color: #fff;
	font-size: 8pt;
	color: #999;
	padding-bottom: 5px;
	border: 0px;
}

#tabs {
	border-bottom: 0;
}
/* layout business */

#addItemContainer {
	text-align: center;
	font-size: 10pt;
	font-weight: normal;
}

.jqmWindow {
    display: none;
    position: absolute;

    top: 17%;
	margin-left: 33%;
    width: 170px;
    
    background-color: #fff;
    color: #000;
    border: 1px solid black;
    padding: 12px;
}

.jqmOverlay { background-color: #000; }

.yui-u {
	font-family:georgia;
	font-size: 12pt;
}

#tabs {
	margin-top: 60px;
}

.first {
	border-right: 1px #ccc solid;
}

/* Styles for the toggle_selected plugin used in the addItemBox window*/

#addItemContainer li {
	cursor: pointer;
	padding: 3px 5px;
	list-style-type: none;
	display: inline;
	font-size: 10pt;
	border: 1px #fff solid;
	font-weight: normal;
}
#addItemContainer li::selection {
	background: transparent;
}

#addItemContainer table {
	margin: auto;
}

.unselected {
	background-color: #fff; 
}

.selected, .hover {
	border: 1px #000 solid !important;
}

#addItemContainer li::selection, #list_buyers::selection, #list_user::selection, #list_buyers::-moz-selection, #list_users::-moz-selection {
	background:transparent;
}

#action, #cancel {
	font-family:georgia;
	font-size:30pt;
	color:#333;
	margin:0 15px;
	cursor: pointer;
}

#action:hover, #cancel:hover {
	color: #40ad34;
	-webkit-transition: color .15s ease-in;
}

/* styles for the list of items that comes from /list */

#add_item {
}
.tagNames {
	cursor: pointer;
	padding:0px 5px;
	-webkit-transition: background-color .15s ease-in-out;
	background-color: #fff;
}
a.tagNames:hover {
	background-color: #ffc97c;
}

.ind_balance {
	font-size: 35pt;
	margin-bottom:35px;
}

.pos {
	color: green;
}

.neg {
	color: red;
}

.date_range {
	color: #333;
	float:left;
	font-size: 20pt;
}
.gray {
	color: #666;
	font-size:10pt;
}

#your, #house, #your_graph, #house_graph {
	padding: 2px 5px;
}
.houseMode, .houseMode_graph {
	font-size: 8pt;
	float:right;
	margin-right: 25px;
}

.item { 
	padding: 3px;
	margin: 7px 0px;
	cursor: pointer;
	-webkit-transition: background-color .15s linear;
	background-color:#fff
}

tr.item:hover {
	background-color:#ffc97c;
}

.item_description {
	margin: auto;
	/*width: 400px;*/
	border-bottom: 1px #ccc solid;
	padding: 5px 10px;
}

.item_name {
	margin-left:5px;
}

.purch_date, .buyers, .edit, .delete {
	color: #999;
}

td {
	font-size: 11pt;
	font-weight: normal;
	padding: 5px 5px;
}

.item {
	border-bottom: 1px #ccc solid;
	font-style: normal;
}
.side_table, #tableTransactions, tr table {
	border: 1px #000 solid;
	margin-bottom: 35px;
}

td.hoverable {
	cursor: pointer;
}

td.hoverable:hover {
	background-color: #ffc97c;
}

#list {
	width: 96%;
}

/* graph page */
#graph, #graphcontainer {
	margin: auto;
	height:400px;
	width:600px;
}
#graph_nav {
}
