

/* to do: make nohighlight for safari */


/*      adding item page styles */

.jqmWindow {
	display: none;
	position:absolute; 
	top: 17%;
	left: 50%;
    
	margin-left: -300px;
	width: 600px;
	background-color: #EEE;
	color: #333;
	border: 1px solid black;
	padding: 12px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.jqmOverlay { background-color: #000; }

#expanded_section {
	display: none;
}


/* user list styles */

.selected_blue {
	background-color:#0267cd; 
	color: #fff; 
	border: 1px #000 solid;
} 

.selected_maybe {
	background-color: #e8e781;
	color: #000;
	border: 1px #000 solid;
}	

.unselected {
	background-color: #eee; 
	color: #000; 
	border: 1px #eee solid
}

.selected_yes, .hover {
	background-color: #e61a1a; 
	color: #fff;
	border: 1px #000 solid}
#all_name::-moz-selection {
	background:transparent;
}

#all_name {
	cursor: default;
}

.option_text::-moz-selection {
	background:transparent;
}
.option_text {
	cursor: default;
}
#list_users::-moz-selection {
	background:transparent;
}

#action, #cancel {
	font-family:georgia;
	font-size:30pt;
	color:#333;
	margin:0 15px;
}

#submit:hover, #cancel:hover {
	color: #40ad34;
	cursor:pointer;
}




body {
	font-family: georgia;
}
h1 {
	font-size:12pt;
}

h2 { 
	font-size: 16pt;
}

h3 {
	font-size: 10pt;
}


ul, li {
	display:inline;
}

/* item list styles */
.item { 
	width: 600px; 
}
.item_description {
	width: 600px;
	background-color: #eee;
}

#list .header { 
	font-size:15pt;
	width:600px; 
	-moz-border-radius-topleft: 10px 10px; 
	-moz-border-radius-topright: 10px 10px; 
	background-color: #ff7070;
}

#list {
	float:left;
}
.price {
	margin-left:50px;
}
.item_name {
	float: left;
	margin-left:5px;
}

.delete, .purch_date, .dispute, .edit{
	float:right;
	margin-right:5px;
}

#graph {
	float: right;
	width: 400px;
	height: 300px;
	border: 1px dashed gainsboro;
}
